extends layout
block content
    h1= title
    #articles
        - each article in articles
            div.article
                div.title
                    a(href="/#{article.id}")!= article.title
                div.author= article.author
                div.description= article.description
                div.modified= article.modified.toDateString()
                div.buttons
                    form( method="get", action="/#{article.id}/edit")
                        input(name="_id", type="hidden", value=article._id.toHexString())
                        input(id="edit", value="Edit", type="submit")
                    form( method="post", action="/#{article.id}/delete")
                        input(name="_id", type="hidden", value=article._id.toHexString())
                        input(id="delete", value="X", type="submit")

        a(href="/new")!= "Add New Article"